<ion-header [translucent]="true">
  
</ion-header>

<ion-content [fullscreen]="true" >
  
  <div class="datos">

    <div class="col1">

      <h1>Jugador: {{ player }}</h1>
      <h1>Nivel:  {{ nivel }}</h1>

    </div> 

    <div class="col2">

      <h1 id="tiempo" >Tiempo: {{minutes}}:{{seconds| number:'2.0'}}</h1>
      <h1 id="Intentos" >Intentos: {{intentos}}</h1>

    </div>


  </div> 
 


  
  
 
  <ng-container *ngFor="let fila of filas; let i = index">
    
      <ion-row>
        <ion-col size="2.4" *ngFor="let letra of ['letra1','letra2','letra3','letra4','letra5']">
          <ion-input class="custom-input" #inputFila maxlength="1" pattern="[a-zA-Z]" [(ngModel)]="fila['datos'][letra]" [disabled]="!fila.habilitada && i !== filaActual"></ion-input>
        </ion-col>
      </ion-row>
    
  </ng-container>
  
  
  <ion-button color="success" expand="block" (click)="verificarFila()">Verificar</ion-button> 
  <ion-button  fill="outline" expand="block" id="back" (click)="BackHome()">
    <ion-icon slot="icon-only"  name="exit-outline" ></ion-icon>
  </ion-button>

</ion-content>
