<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Juego</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" scrollEvents="false">
  <div class="info">

   <h1>Jugador: {{ player }}</h1>
   <h1>Nivel:  {{ nivel }}</h1>

   <h1 id="tiempo" >Tiempo</h1>

  </div>
  
 
  <ng-container *ngFor="let fila of filas; let i = index">
    
      <ion-row>
        <ion-col size="2.4" *ngFor="let letra of ['letra1','letra2','letra3','letra4','letra5']">
          <ion-input class="custom-input" #inputFila maxlength="1" pattern="[a-zA-Z]" [(ngModel)]="fila['datos'][letra]" [disabled]="!fila.habilitada && i !== filaActual"></ion-input>
        </ion-col>
      </ion-row>
    
  </ng-container>
  
  
  <ion-button (click)="verificarFila()">Verificar</ion-button> 

</ion-content>
