<ion-header [translucent]="true">

</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Inicio</ion-title>
    </ion-toolbar>
  </ion-header>
 
  <ion-input 
  id="label" 
  [(ngModel)]="username" 
  autofocus="true" 
  autocapitalize="characters" 
  label="Nombre Jugador" 
  label-placement="floating" 
  fill="outline" 
  placeholder="Ingresa nombre"
  ></ion-input>
  
  <ion-button 
  *ngFor="let button of buttons" 
  expand="block" 
  [color]="button.color" 
  [disabled]="this.username.length < 3" 
  (click)="Onplay(button)" 
  >{{ button.label }}</ion-button>
  
</ion-content>
