ion-content{
 --background: #0f0f0f9c;
}

ion-title{
    color: coral;
    align-content: center;
}
#label{
    
    margin-bottom:  20px;
    margin-top: 15px;
    text-transform: uppercase;
}
ion-button{
    font-weight: bold;
    font-size: large;
    text-transform: uppercase;
    margin-bottom: 10px;
}