<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-button id="back" size="small" (click)="BackHome()">
      <ion-icon slot="icon-only"  name="caret-back-outline" ></ion-icon>
    </ion-button>
    <ion-title>5 MEJORES RECORDS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  
  
    <ion-list>
      <ion-item *ngFor="let record of records">
        <ion-label>
          <h2>{{ record.nombre }}</h2>
          <p>Palabra: {{ record.palabra }}</p>
          <p>Nivel: {{ record.nivel }}</p>
          <p>Tiempo: {{ record.tiempo }}</p>
          <p>Intentos: {{ record.intentos }}</p>
          <p>Puntos: {{ record.puntos }}</p>
        </ion-label>
      </ion-item>
    </ion-list>
  
  
</ion-content>
